.hero1{
    margin-top: 2rem;
    margin-bottom: 2remng ;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}



h1{
    width: 740px; 
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.parrafo{
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: #6B7280;
    max-width: 800px;
}


.boton__principal{
    background-color: #FAD180;
    color: black;
    padding: 0.75rem 1.5rem;
    border-radius: 0.475rem;
    text-decoration: none;
    font-weight: 600;
    margin-right: 1rem;
}

.boton__secundario{
    background-color: transparent;
    color: black;
    padding: 0.75rem 1.5rem;
    border-radius: 0.475rem;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid #FAD180;
}



.features{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin-top: 100px;
}

.feature{
    background-color: #f2f2f2;
    border-radius: 20px;
    max-width: 400px;
}


.feature__texto{
    padding: 10px;
}

.feature__titulo{
    font-size: 24px;
    font-weight: bold;
}

.img__crm{
    width: 300px;
}

footer{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 1150px) {
    .features{
        flex-direction: column;
    }
}

@media (max-width: 780px) {
    .hero1{
        width: 100%;
    }

    h1{
        width: 80%;
    }
}