<app-header></app-header>

<div class="hero1">
    <h1>Tus facturas ahora valen puntos.</h1>
    <p class="parrafo">Tus recibos de helado ahora son puntos digitales. Captura tu factura y olvídate del papel: nosotros procesamos todo para que solo te preocupes por disfrutar.</p>
    <div >
        <a class="boton__principal" routerLink="/register">Empieza a ganar</a>
    </div>
</div>

<div class="features">
    <div class="feature">
        <div class="feature__texto">
           <h2 class="feature__titulo">Compra</h2>
        <p>Haz tus compras de siempre en tus comercios favoritos.</p> 
        </div>
        
        <img class="img__crm" src="shopping-bag.png" alt="">
    </div>

        <div class="feature">
        <div class="feature__texto">
           <h2 class="feature__titulo">Escanea</h2>
        <p>Toma una foto clara de tu factura desde la app.</p> 
        </div>
        
        <img class="img__crm" src="scan.png" alt="">
    </div>

        <div class="feature">
        <div class="feature__texto">
           <h2 class="feature__titulo">Acumula</h2>
        <p>Nuestro OCR procesa los datos y carga los puntos a tu cuenta al instante.</p> 
        </div>
        
        <img class="img__crm" src="point.png" alt="">

    </div>
</div>

<footer>
    <p>Hecho con ❤️ para amantes del helado y la tecnología. 2026 Helado Points Inc.</p>
</footer>