header{
    display: flex;
    color: #FAD180;
    align-items: center;
    justify-content: space-around;

    nav{
        width: 300px;
        display: flex;
        justify-content: space-between;
        a{
            color: black;
            text-decoration: none;
            pointer-events: all;
        }
    }
}


p{
    font-size: 56px;
}

a{
    font-size: 16px;
}

.home{
    font-weight: bold;
}

@media (max-width: 800px){
    header{
        flex-direction: column;
        margin-bottom: 10px;
    }
}